body {
  font-family: 'Inter', sans-serif;
  color: #000;
  background-color: #fff;
  font-weight: 400;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }
  .header {
    padding: 0px 22px 0px 18px;
  }
  .news {
    flex-direction: column;
    align-items: center;
  }

  .article {
    margin-right: 0;
    margin-bottom: 34px;
  }
  .articles__link {
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
  }
  .articles__wrapper {
    margin-bottom: 5px;
  }
  .news__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .news__list-item:not(:last-child) {
    margin-bottom: 10px;
  }
  .users__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .users {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  .menu {
    display: block;
  }

  .news__wrapper {
    align-items: center;
  }

  .news {
    flex-direction: column;
    align-items: center;
  }
  .news__list {
    justify-content: space-between;
  }

  .article {
    margin-right: 0;
    margin-bottom: 34px;
  }
  .users__wrapper {
    justify-content: center;
    flex-direction: column;
  }
  .users {
    margin: 0;
    margin-bottom: 10px;
  }
}

@media (min-width: 1280px) {
  .header {
    padding: 6px 22px 6px 18px;
  }
  .news__wrapper {
    align-items: flex-end;
  }
  .news {
    flex-direction: row;
  }
  .news__list {
    justify-content: space-between;
  }

  .article {
    max-width: 605px;
    margin-right: auto;
    margin-bottom: 0;
  }
  .articles__link {
    justify-content: space-between;
  }
  .articles__img {
    margin-left: 13px;
  }

  .users {
    margin-right: 26px;
  }
  .users__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
