body {
  font-family: "Inter", sans-serif;
  color: #000;
  background-color: #fff;
  font-weight: 400;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

@media (max-width: 768px) {
  .menu {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  .menu {
    display: block;
  }

  .news {
    flex-direction: column;
    align-items: center;
  }

  .article {
    margin-right: 0;
    margin-bottom: 34px;
  }
}


